{{/*base.gohtml*/}}

<html lang="en">
<head>
    <title>{{ template "title" . }}</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<div>
    {{ template "body" . }}
</div>
</body>
</html>